<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="snap_qc_tree" model="ir.ui.view">
            <field name="name">snap.qc.tree</field>
            <field name="model">snap.qc</field>
            <field name="type">tree</field>
            <field name="arch" type="xml">
                <tree string='Data Snap Qc Shuttle'>
                    <field name="line"/>
                    <field name="putus_lusi"/>
                    <field name="putus_pakan"/>
                    <field name="bendera_merah"/>
                    <field name="bendera_biru"/>
                    <field name="hb"/>
                    <field name="oh"/>
                    <field name="lain_lain"/>
                    <field name="total"/> 
                    <field name='total_snap'/>
                    <field name='hasil_total' widget="percentage"/>
                    <field name='tot_mesin_jln' widget="percentage"/>
                </tree>
            </field>
        </record>
        <record id="snap_qc_form" model="ir.ui.view">
            <field name="name">snap.qc.form</field>
            <field name="model">snap.qc</field>
            <field name="type">form</field>
            <field name="arch" type="xml">
                <form>
                    <sheet>
                        <group>
                            <group><field name="line"/></group>
                            <group>
                                <field name="putus_lusi" widget="widget_qc" options="{'step': 1}" relatedModel="snap.qc"  />
                            </group>
                            <group>
                                <field name="putus_pakan" widget="widget_qc" options="{'step': 1}" relatedModel="snap.qc"  />
                            </group>
                            <group>
                                <field name="bendera_merah" widget="widget_qc" options="{'step': 1}" relatedModel="snap.qc"  />
                            </group>
                            <group>
                                <field name="bendera_biru" widget="widget_qc" options="{'step': 1}" relatedModel="snap.qc"  />
                            </group>
                            <group>
                                <field name="hb" widget="widget_qc" options="{'step': 1}" relatedModel="snap.qc"  />
                            </group>
                            <group>
                                <field name="oh" widget="widget_qc" options="{'step': 1}" relatedModel="snap.qc" />
                            </group>
                            <group>
                                <field name="lain_lain" widget="widget_qc" options="{'step': 1}" relatedModel="snap.qc" />
                            </group>
                            <group>
                                <field name="shift"/>
                                <field name='tgl'/>
                                <field name="total"/> 
                                <!-- <field name="hasil"/> -->
                                <field name='total_snap'/>
                                <field name='hasil_total' widget="percentage"/>
                                <field name='tot_mesin_jln' widget="percentage"/>
                            </group>
                        </group>
                    </sheet>
                </form>
            </field>
        </record>

        <record id="snap_qc_menu_action" model="ir.actions.act_window">
            <field name="name">Snap Qc</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">snap.qc</field>
        </record>

        <menuitem id="template_qc"
            name="Snap Qc"
            web_icon = "template_qc,static/description/qc.png"
            sequence="116"/>/>


        <menuitem id="template_qc_menu"
            name="Snap Qc Shuttle"
            parent="template_qc"
            action="snap_qc_menu_action" 
            sequence="10"/>/>
    </data>

</odoo>
